.about {
  width: 100%;
  /* Встановлюємо висоту за потребою, або auto, щоб не виникало скролювання */
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;
  /* Видаляємо overflow, щоб не було додаткового скролу */
}

.about__inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px; /* Простір між блоками */
}

.title__about {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  color: #2f2e33;
}
.title__about::first-letter {
  color: #439589;
}

.subtitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #2f2e33;
}

.p__about {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
  color: #2f2e33;
}

ul {
  list-style-type: none;
  padding-left: 30px;
  margin-bottom: 20px;
  color: #2f2e33;
  margin-top: 10px;
}
.block {
  padding: 20px;
}
li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #70b2ac;
  border-radius: 10px;
}
.btn-map {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #439589;
  color: #439589;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-map::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #439589;
  transition: left 0.3s ease;
  z-index: 0;
}

.btn-map:hover::before {
  left: 0;
}

.btn-map:hover {
  color: #fff;
}

.btn-map span {
  position: relative;
  z-index: 1;
}
.btn-map__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* Responsive Styles */
@media screen and (max-width: 425px) {
  .title__about {
    font-size: 32px;
  }
  .p__about {
    font-size: 16px;
  }
  li {
    font-size: 14px;
  }
  .about__inner {
    width: 95%;
  }
  .p__about {
    font-size: 14px;
    line-height: 1.6;
  }
}
