.about {
  width: 100%;
  /* Встановлюємо висоту за потребою, або auto, щоб не виникало скролювання */
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;
  /* Видаляємо overflow, щоб не було додаткового скролу */
}

.about__inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px; /* Простір між блоками */
}

.title__about {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  color: #2f2e33;
}
.title__about::first-letter {
  color: #439589;
}

.block {
  /* Стилізація блоку за потребою */
}

.subtitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #2f2e33;
}

.p__about {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
  color: #2f2e33;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #2f2e33;
}

li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 425px) {
  .title__about {
    font-size: 32px;
  }
  .p__about {
    font-size: 16px;
  }
  li {
    font-size: 14px;
  }
  .about__inner {
    width: 95%;
  }
  .p__about {
    font-size: 14px;
    line-height: 1.6;
  }
}
