.education-section {
  position: relative;
  padding: 100px 20px;
  color: white;
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}
.program-section {
  position: relative;
  padding: 100px 20px;
  color: white;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 55vw;
  overflow: hidden;
}


.education-carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.education-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}


.education-carousel img.active {
  opacity: 1;
}

.education-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6); /* затемнення */
  z-index: 1;
}

.education-wrapper {
  position: relative;
  z-index: 2; /* виводимо поверх каруселі */
}

/* Примітивна анімація */
@keyframes slideShow {
  0% { opacity: 1; }
  33% { opacity: 0; }
  66% { opacity: 0; }
  100% { opacity: 1; }
}

.license-number {
  font-size: 64px;
  font-weight: 800;
  margin: 0;
  background: linear-gradient(90deg, #a866ff, #5ed6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.education-wrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.education-content {
  background: linear-gradient(
    to bottom right,
    rgba(30, 43, 57, 0.6),
    rgba(60, 80, 100, 0.3)
  );
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  max-width: 700px;
}

.education-title {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 30px;
}

.education-title span {
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
}

.education-subtitle {
  font-size: 18px;
  color: #d4d6db;
  margin-bottom: 10px;
}

.education-license {
  text-align: right;
  min-width: 180px;
}

.license-number {
  font-size: 64px;
  font-weight: 800;
  color: white;
  margin: 0;
}

.license-label {
  font-size: 16px;
  color: #cfd1d5;
}

/* Mobile */
@media (max-width: 768px) {
  .education-wrapper {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .education-license {
    text-align: left;
    margin-top: 40px;
  }

  .education-title {
    font-size: 30px;
  }

  .education-title span {
    font-size: 34px;
  }

  .license-number {
    font-size: 48px;
  }
}
