/* .lecturers {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}
.lecturers-title {
  font-size: 38px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.lecturers-title::first-letter {
  color: #439589;
}
.lecturers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f5fffe;
}
.lecturer {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.lecturer-img {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  order: 1;
}
.lecturer-img1 {
  background-image: url(../img/vuklyk.jpg);
}
.lecturer-img2 {
  background-image: url(../img/zasoba.jpg);
}
.lecturer-name {
  order: 2;
  margin-top: 20px;
  text-align: center;
  font-size: 1.4rem;
} */

.lecturers {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

.lecturers-title {
  font-size: 38px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  margin-right: 62%;
}

.lecturers-title::first-letter {
  color: #439589;
}

.lecturers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f5fffe;
}

.lecturer {
  width: calc(33.33% - 20px);
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecturer-img {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  order: 1;
}
.lecturer-name span {
  font-size: 16px;
  font-weight: 500;
}
.lecturer-img1 {
  background-image: url(../img/vuklyk.jpg);
}

.lecturer-img2 {
  background-image: url(../img/zasoba.jpg);
}
.lecturer-img3 {
  background-image: url(../img/boychuck.JPG);
}
.lecturer-img4 {
  background-image: url(../img/hubch.PNG);
}
.lecturer-img5 {
  background-image: url(../img/shahovska.JPG);
}
.lecturer-img6 {
  background-image: url(../img/Shamuratov.JPG);
}
.lecturer-img7 {
  background-image: url(../img/pshenuchyy.jpg);
}
.lecturer-img8 {
  background-image: url(../img/suvokon.jpg);
}
.lecturer-img9 {
  background-image: url(../img/yacushun.PNG);
}
.lecturer-name {
  order: 2;
  margin-top: 20px;
  text-align: center;
  font-size: 1.4rem;
}

/* Tablet Screens */
@media screen and (max-width: 768px) {
  .lecturers-title {
    font-size: 32px;
    margin-right: 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .lecturer {
    width: calc(50% - 20px);
  }

  .lecturer-img {
    width: 200px;
    height: 200px;
  }

  .lecturer-name {
    font-size: 1.2rem;
  }
}

/* Mobile Screens */
@media screen and (max-width: 480px) {
  .lecturers-title {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .lecturer {
    width: 100%;
    margin: 10px 0;
  }

  .lecturer-img {
    width: 150px;
    height: 150px;
  }

  .lecturer-name {
    font-size: 1rem;
  }
}
